In [194]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
from datetime import datetime, date, timedelta
from itertools import combinations

In [6]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
736,tt1499658,35000000,117000000,Horrible Bosses,Jennifer Aniston|Jason Bateman|Charlie Day|Jas...,Seth Gordon,Ever wish your boss was dead?,"For Nick (Jason Bateman), Kurt (Jason Sudeikis...",98,Comedy|Crime,New Line Cinema|Rat Entertainment,7/8/2011,6.4,2011
862,tt1270798,160000000,344420111,X-Men: First Class,James McAvoy|Michael Fassbender|Jennifer Lawre...,Matthew Vaughn,Witness the moment that will change our world.,Before Charles Xavier and Erik Lensherr took t...,132,Action|Science Fiction|Adventure,Ingenious Film Partners|Ingenious Media|Twenti...,5/24/2011,7.0,2011
154,tt1121096,95000000,114178613,Seventh Son,Jeff Bridges|Julianne Moore|Ben Barnes|Alicia ...,Sergey Bodrov,"When darkness falls, the son will rise. When t...","John Gregory, who is a seventh son of a sevent...",102,Adventure|Fantasy,Legendary Pictures|Thunder Road Pictures|Outla...,12/12/2014,5.1,2014
720,tt0458339,140000000,370569774,Captain America: The First Avenger,Chris Evans|Hugo Weaving|Tommy Lee Jones|Hayle...,Joe Johnston,When patriots become heroes,"Predominantly set during World War II, Steve R...",124,Action|Adventure|Science Fiction,Marvel Studios,7/22/2011,6.5,2011
647,tt0910936,27000000,101624843,Pineapple Express,Seth Rogen|James Franco|Danny McBride|Gary Col...,David Gordon Green,Put this in your pipe and smoke it.,A stoner and his dealer are forced to go on th...,111,Action|Comedy,Columbia Pictures|Apatow Productions,8/6/2008,6.6,2008

In [3]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

In [49]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1889 entries, 0 to 1888
Data columns (total 15 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   imdb_id               1889 non-null   object
 1   budget                1889 non-null   int64
 2   revenue               1889 non-null   int64
 3   original_title        1889 non-null   object
 4   cast                  1889 non-null   object
 5   director              1889 non-null   object
 6   tagline               1889 non-null   object
 7   overview              1889 non-null   object
 8   runtime               1889 non-null   int64
 9   genres                1889 non-null   object
 10  production_companies  1889 non-null   object
 11  release_date          1889 non-null   object
 12  vote_average          1889 non-null   float64
 13  release_year          1889 non-null   int64
 14  profit                1889 non-null   int64
dtypes: float64(1), int64(5), object(9)
memory usage: 221.5+ KB

# Предобработка

In [7]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

In [448]:
def dict_for_prop(dict_new, name, def_value=0):
    '''
        Функция создаёт ключи для словаря из уникальных значений признака с начальным значением = 0
        в случае когда несколько значений объединены в одном признаке через символ "|"
    '''
    print(def_value)
    for item in data[name].unique(): # цикл по уникальным значениям признака
        for i in item.split('|'): # перечисленные значения помещаем в массив по одному
            dict_new.setdefault(i, def_value)

In [349]:
def get_max_item(your_dict):
    max_val = max(your_dict.values())
    #print(list(your_dict.keys())[list(your_dict.values()).index(max_val)])
    return(list(your_dict.keys())[list(your_dict.values()).index(max_val)])

In [21]:
data['profit'] = data.revenue - data.budget

In [199]:
data['release_date'] = data.release_date.apply(lambda data: datetime.strptime(data, '%m/%d/%Y'))

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [8]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
# answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides (tt1298650)'
# если ответили верно, можете добавить комментарий со значком "+"

In [10]:
# тут пишем ваш код для решения данного вопроса:
data.sort_values(['budget'], ascending=False).head(3)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,5/11/2011,6.3,2011
1669,tt0449088,300000000,961000000,Pirates of the Caribbean: At World's End,Johnny Depp|Orlando Bloom|Keira Knightley|Geof...,Gore Verbinski,"At the end of the world, the adventure begins.","Captain Barbossa, long believed to be dead, ha...",169,Adventure|Fantasy|Action,Walt Disney Pictures|Jerry Bruckheimer Films|S...,5/19/2007,6.8,2007
14,tt2395427,280000000,1405035767,Avengers: Age of Ultron,Robert Downey Jr.|Chris Hemsworth|Mark Ruffalo...,Joss Whedon,A New Age Has Come.,When Tony Stark tries to jumpstart a dormant p...,141,Action|Adventure|Science Fiction,Marvel Studios|Prime Focus|Revolution Sun Studios,4/22/2015,7.4,2015

ВАРИАНТ 2

In [0]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [12]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = 'Gods and Generals (tt0279111)'

In [11]:
data.sort_values(['runtime'], ascending=False).head(3)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1157,tt0279111,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2/21/2003,5.8,2003
1081,tt0167260,94000000,1118888979,The Lord of the Rings: The Return of the King,Elijah Wood|Ian McKellen|Viggo Mortensen|Liv T...,Peter Jackson,The eye of the enemy is moving.,Aragorn is revealed as the heir to the ancient...,201,Adventure|Fantasy|Action,WingNut Films|New Line Cinema,12/1/2003,7.9,2003
1736,tt0462322,67000000,25037897,Grindhouse,Kurt Russell|ZoÃ« Bell|Rosario Dawson|Vanessa ...,Robert Rodriguez|Eli Roth|Quentin Tarantino|Ed...,A double feature that'll tear you in two!,Two full length feature horror movies written ...,191,Thriller|Action|Horror,Big Talk Productions|Yer Dead Productions|Wein...,4/6/2007,6.5,2007

# 3. Какой из фильмов самый короткий (в минутах)?

In [15]:
answers['3'] = 'Winnie the Pooh (tt1449283)'

In [14]:
data.sort_values(['runtime'], ascending=False).tail(3)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1097,tt0283426,20000000,135680000,The Jungle Book 2,John Goodman|Haley Joel Osment|Mae Whitman|Phi...,Steve Trenbirth,Feel the jungle beat,"Mowgli, missing the jungle and his old friends...",72,Family|Animation|Adventure,Walt Disney Pictures|Walt Disney Television An...,2/7/2003,5.6,2003
930,tt0280030,20000000,109862682,Return to Never Land,Harriet Owen|Blayne Weaver|Jeff Bennett|Kath S...,Robin Budd|Donovan Cook,The Classic Continues,The classic tale of 'Peter Pan' continues in D...,72,Adventure|Fantasy|Animation|Family,Walt Disney Pictures|Walt Disney Television An...,2/14/2002,6.2,2002
768,tt1449283,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,4/13/2011,6.8,2011

# 4. Какова средняя длительность фильмов?

In [330]:
answers['4'] = '110'

In [331]:
round(data.runtime.mean())

110

# 5. Каково медианное значение длительности фильмов?

In [19]:
answers['5'] = 'median runtime = 107'

In [18]:
data.runtime.median()

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [25]:
# лучше код получения столбца profit вынести в Предобработку что в начале
answers['6'] = 'Avatar (tt0499549)'

In [24]:
data.sort_values(['profit'], ascending=False).head(3)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
239,tt0499549,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,12/10/2009,7.1,2009,2544505847
3,tt2488496,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,7.5,2015,1868178225
0,tt0369610,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,6.5,2015,1363528810

# 7. Какой фильм самый убыточный?

In [27]:
data[data.profit == data.profit.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

In [28]:
data.sort_values(['profit'], ascending=False).tail(3)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
809,tt1305591,150000000,38992758,Mars Needs Moms,Seth Green|Joan Cusack|Dan Fogler|Breckin Meye...,Simon Wells,Mom needs a little space.,"When Martians suddenly abduct his mom, mischie...",88,Adventure|Animation|Family,Walt Disney Animation Studios,3/9/2011,5.5,2011,-111007242
1616,tt0318974,145000000,25819961,The Alamo,Dennis Quaid|Billy Bob Thornton|Jason Patric|P...,John Lee Hancock,You will never forget,Based on the 1836 standoff between a group of ...,137,Western|History|War,Imagine Entertainment|Touchstone Pictures,4/7/2004,5.9,2004,-119180039
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

In [29]:
answers['7'] = 'The Lone Ranger (tt1210819)'

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [32]:
answers['8'] = 'profit > 0 = 1478'

In [31]:
data[data.profit > 0].imdb_id.count()

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [40]:
answers['9'] = 'The Dark Knight (tt0468569)'

In [39]:
data.query('release_year == 2008').sort_values(['profit'], ascending=False).head(2)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8.1,2008,816921825
603,tt0367882,185000000,786636033,Indiana Jones and the Kingdom of the Crystal S...,Harrison Ford|Cate Blanchett|Shia LaBeouf|Ray ...,Steven Spielberg,The adventure continues . . .,"Set during the Cold War, the Soviets â€“ led b...",122,Adventure|Action,Lucasfilm|Paramount Pictures,5/21/2008,5.6,2008,601636033

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [42]:
answers['10'] = 'The Lone Ranger (tt1210819)'

In [41]:
data.query('release_year >= 2012 & release_year <= 2014').sort_values(['profit'], ascending=False).tail(2)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1214,tt0790736,130000000,61648500,R.I.P.D.,Jeff Bridges|Ryan Reynolds|Kevin Bacon|Stephan...,Robert Schwentke,To protect and serve the living,A recently slain cop joins a team of undead po...,96,Fantasy|Action|Comedy|Crime,Universal Pictures|Original Film|Dark Horse En...,7/18/2013,5.3,2013,-68351500
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

# 11. Какого жанра фильмов больше всего?

In [68]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале
answers['11'] = 'Drama'

In [350]:
genres_dict = {} # словарь где ключ - жанр, значение - колчество жанров 

dict_for_prop(genres_dict, 'genres') # создать ключт для каждого жанра

genres2 = data[['genres', 'profit']] # новый датафрейм жанры и прибыль

for row in genres2.values: # цикл по значениям датафрейма, row[0] - список жанров каждого фильма
    for genr in row[0].split('|'): 
        genres_dict[genr] += 1

print(get_max_item(genres_dict))

Drama

ВАРИАНТ 2

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [72]:
answers['12'] = 'Drama'

In [351]:
genres_dict = {} # словарь где ключ - жанр, значение - колчество жанров 
dict_for_prop(genres_dict, 'genres') # создать ключт для каждого жанра

for row in genres2.values: # датафрейм из предыдущего шага
    if row[1] > 0: #условие прибольности фильма
        for genr in row[0].split('|'):
            genres_dict[genr] += 1
    
print(get_max_item(genres_dict))

Drama

# 13. У какого режиссера самые большие суммарные кассовые сбооры?

In [83]:
data_group_director = data.groupby(['director'])['revenue'].sum()
display(data_group_director.sort_values(ascending=False))

director
Peter Jackson        6490593685
Christopher Nolan    4167548502
David Yates          4154295625
Michael Bay          3886938960
J.J. Abrams          3579169916
                        ...
David MichÃ´d           2295423
Steven Shainberg        2281089
Paul Schrader           2062066
Keanu Reeves            2054941
Simon Hunter            2033165
Name: revenue, Length: 957, dtype: int64

In [85]:
answers['13'] = 'Peter Jackson'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [160]:
answers['14'] = 'Robert Rodriguez'

In [353]:
directors = {} # словарь для сбора данных по каждому режесёру
dict_for_prop(directors, 'director')

directors_df = data[['director', 'genres']]

for row in directors_df.values: #считаем значения для отдельного режисера в поле dirctor
    if 'Action' in row[1]:
        for director in row[0].split('|'):
            directors[director] += 1

print(get_max_item(directors))

Robert Rodriguez

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [133]:
pivot = data.pivot_table(values=['revenue'], index=['release_year'], columns=['cast'], 
                         aggfunc='sum',margins=True, fill_value=0)
pivot.loc[2012].sort_values().tail(3)

         cast
revenue  Daniel Craig|Judi Dench|Javier Bardem|Ralph Fiennes|Naomie Harris                 1108561013
         Robert Downey Jr.|Chris Evans|Mark Ruffalo|Chris Hemsworth|Scarlett Johansson     1519557910
         All                                                                              23079001687
Name: 2012, dtype: int64

In [134]:
answers['15'] = 'Chris Hemsworth'

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [164]:
answers['16'] = 'Matt Damon'

In [355]:
actors_dict = {} # словарь для сбора данных по каждому актёру из поля cast
dict_for_prop(actors_dict, 'cast')

actors_df = data[['cast', 'budget']] # дата фрейм актёры и бюджет фильма

mean_budget = data['budget'].mean() # средний бюджет всех фильмов

for row in actors_df.values:
    if row[1] > mean_budget:
        for actor in row[0].split('|'):
            actors_dict[actor] += 1
    
print(get_max_item(actors_dict))

Matt Damon

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [163]:
answers['17'] = 'Action'

In [357]:
genres_dict = {} # словарь где ключ - жанр, значение - колчество жанров 
dict_for_prop(genres_dict, 'genres') # создать ключ для каждого жанра

cast_genres_df = data[['cast', 'genres']] # датафрейм с двумя колонками - роли и жанры

for row in cast_genres_df.values: # для каждой записи в датафрейме проверяем жанр для Nicolas Cage
    if 'Nicolas Cage' in row[0]:
        for genr in row[1].split('|'):
            genres_dict[genr] += 1

print(get_max_item(genres_dict))

Action

# 18. Самый убыточный фильм от Paramount Pictures

In [176]:
answers['18'] = 'K-19: The Widowmaker (tt0267626)'

In [178]:
data_PP = data[data.production_companies.str.contains('Paramount Pictures')]
data_PP.sort_values(['profit']).head(2)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
925,tt0267626,100000000,35168966,K-19: The Widowmaker,Harrison Ford|Liam Neeson|Peter Sarsgaard|Joss...,Kathryn Bigelow,Fate has found its hero.,When Russia's first nuclear submarine malfunct...,138,Thriller|Drama|History,Paramount Pictures|Intermedia Films|National G...,7/19/2002,6.0,2002,-64831034
1123,tt0300556,80000000,19480739,Timeline,Paul Walker|Frances O'Connor|Gerard Butler|Bil...,Richard Donner,They had to travel into the past to save the f...,A group of archaeological students become trap...,116,Action|Adventure|Science Fiction,Paramount Pictures|Donners' Company|Mutual Fil...,11/26/2003,5.1,2003,-60519261

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [358]:
answers['19'] = '2015'

In [189]:
data.groupby(['release_year'])['revenue'].sum().sort_values(ascending=False)

release_year
2015    25449202382
2014    23405862953
2013    23213799791
2012    23079001687
2011    22676791872
2010    21071204961
2009    20261791024
2008    18252781990
2007    18162406801
2004    15663430720
2005    15309425558
2006    14775042320
2003    14346123312
2002    14136361487
2001    13017764865
2000    10664099805
Name: revenue, dtype: int64

# 20. Какой самый прибыльный год для студии Warner Bros?

In [192]:
answers['20'] = '2014'

In [359]:
data[data.production_companies.str.contains('Warner Bros')]\
    .groupby(['release_year'])['profit'].sum().sort_values(ascending=False)

release_year
2014    2295464519
2007    2201675217
2008    2134595031
2010    1974712985
2011    1871393682
2003    1855493377
2009    1822454136
2013    1636453400
2004    1631933725
2005    1551980298
2001    1343545668
2012    1258020056
2002    1022709901
2015     870368348
2006     620170743
2000     452631386
Name: profit, dtype: int64

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [360]:
answers['21'] = 'сентябрь (9)'

In [215]:
data['month'] = data['release_date'].apply(lambda x: x.month)
data['month'].value_counts().sort_values(ascending=False)[0]

9     227
12    190
10    186
8     161
3     156
4     149
6     147
11    146
7     142
5     140
2     135
1     110
Name: month, dtype: int64

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [221]:
answers['22'] = '450'

In [220]:
data['month'].value_counts()[6] + data['month'].value_counts()[7] + data['month'].value_counts()[8]

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [228]:
answers['23'] = 'Peter Jackson'

In [227]:
data.loc[data.month.isin([12, 1, 2])].groupby(['director'])['imdb_id'].count().sort_values(ascending=False)

director
Peter Jackson                          7
Steven Soderbergh                      6
Clint Eastwood                         6
Nancy Meyers                           4
Adam Shankman                          4
                                      ..
Matt Bettinelli-Olpin|Tyler Gillett    1
Matt Reeves                            1
Matthew O'Callaghan                    1
Matthew Vaughn                         1
Aaron Seltzer|Jason Friedberg          1
Name: imdb_id, Length: 332, dtype: int64

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [273]:
answers['24'] = 'Four By Two Productions'

In [458]:
# companies_dict = {}

# dict_for_prop(companies_dict, 'production_companies', [])

companies_dict = {}

for company in data.production_companies.unique(): # заполнить словарь, ключ - компания
    for item in company.split('|'):
        companies_dict.setdefault(item, [])

companies_title_df = data[['production_companies', 'original_title']] # новый датафрейм 
companies_title_df['len_tile'] = companies_title_df.original_title.apply(lambda x: len(x)) # добавить длины названий

for row in companies_title_df.values: # для каждой компании список с длинами названий фильмов
    for item in row[0].split('|'):
        companies_dict[item].append(row[2])
        
for key,val in companies_dict.items():
    companies_dict[key] = sum(val)/len(val) #среднее значения длины названий для каждой компании
 
print(get_max_item(companies_dict))

Four By Two Productions

<ipython-input-458-c0aa4e542d02>:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  companies_title_df['len_tile'] = companies_title_df.original_title.apply(lambda x: len(x)) # добавить длины названий

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [276]:
answers['25'] = 'Midnight Picture Show'

In [452]:
companies_title_df['len_overview'] =  data.overview.apply(lambda x: len(x.split()))
companies_title_df.head()

companies_dict = {}

for company in data.production_companies.unique(): # заполнить словарь, ключ - компания
    for item in company.split('|'):
        companies_dict.setdefault(item, [])

for row in companies_title_df.values: # для каждой компании добавить значения длинны каждого описания фильма
    for item in row[0].split('|'):
        companies_dict[item].append(row[3])
        
for key,val in companies_dict.items():# для каждой компании среднее значение длины описания
    companies_dict[key] = sum(val)/len(val)
    
print(get_max_item(companies_dict))

Midnight Picture Show

<ipython-input-452-14f47f67fa50>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  companies_title_df['len_overview'] =  data.overview.apply(lambda x: len(x.split()))

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [326]:
answers['26'] = 'Inside Out, The Dark Knight, 12 Years a Slave'

In [290]:
data_vote = data[data.vote_average >= data.vote_average.quantile(.99)].sort_values(['vote_average'])

In [291]:
data_vote

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,month
1188,tt1798709,23000000,47351251,Her,Joaquin Phoenix|Scarlett Johansson|Rooney Mara...,Spike Jonze,A Spike Jonze Love Story,"In the not so distant future, Theodore, a lone...",126,Romance|Science Fiction|Drama,Annapurna Pictures,2013-12-18,7.8,2013,24351251,12
28,tt1895587,20000000,88346473,Spotlight,Mark Ruffalo|Michael Keaton|Rachel McAdams|Lie...,Tom McCarthy,Break the story. Break the silence.,The true story of how The Boston Globe uncover...,128,Drama|Thriller|History,Participant Media|Open Road Films|Anonymous Co...,2015-11-06,7.8,2015,68346473,11
1563,tt0338013,20000000,72258126,Eternal Sunshine of the Spotless Mind,Jim Carrey|Kate Winslet|Elijah Wood|Mark Ruffa...,Michel Gondry,I already forget how I used to feel about you.,"Joel Barish, heartbroken that his girlfriend u...",108,Science Fiction|Drama|Romance,Anonymous Content|This Is That Productions|Foc...,2004-03-19,7.8,2004,52258126,3
1444,tt0482571,40000000,109676311,The Prestige,Hugh Jackman|Christian Bale|Michael Caine|Scar...,Christopher Nolan,Are You Watching Closely?,A mysterious story of two magicians whose inte...,130,Drama|Mystery|Thriller,Touchstone Pictures|Syncopy,2006-10-19,7.8,2006,69676311,10
1213,tt0790636,5000000,55198285,Dallas Buyers Club,Matthew McConaughey|Jennifer Garner|Jared Leto...,Jean-Marc VallÃ©e,Sometimes it takes a hustler to change the world,Loosely based on the true-life tale of Ron Woo...,117,Drama|History,Universal Studios|Universal Pictures|Voltage P...,2013-09-07,7.8,2013,50198285,9
124,tt2245084,165000000,652105443,Big Hero 6,Scott Adsit|Ryan Potter|Daniel Henney|T.J. Mil...,Don Hall|Chris Williams,From the creators of Wreck-it Ralph and Frozen,The special bond that develops between plus-si...,102,Adventure|Family|Animation|Action|Comedy,Walt Disney Pictures|Walt Disney Animation Stu...,2014-10-24,7.8,2014,487105443,10
1205,tt1392214,46000000,122126687,Prisoners,Hugh Jackman|Jake Gyllenhaal|Paul Dano|Maria B...,Denis Villeneuve,Every moment matters.,When Keller Dover's daughter and her friend go...,153,Drama|Thriller|Crime,Alcon Entertainment|Madhouse Entertainment|8:3...,2013-09-18,7.8,2013,76126687,9
863,tt0167261,79000000,926287400,The Lord of the Rings: The Two Towers,Elijah Wood|Ian McKellen|Viggo Mortensen|Liv T...,Peter Jackson,A New Power Is Rising.,Frodo and Sam are trekking to Mordor to destro...,179,Adventure|Fantasy|Action,WingNut Films|New Line Cinema|The Saul Zaentz ...,2002-12-18,7.8,2002,847287400,12
155,tt2980516,15000000,121201940,The Theory of Everything,Eddie Redmayne|Felicity Jones|Harry Lloyd|Davi...,James Marsh,His Mind Changed Our World. Her Love Changed His.,A look at the relationship between the famous ...,123,Drama|Romance,Working Title Films,2014-11-26,7.8,2014,106201940,11
177,tt2582846,12000000,305151265,The Fault in Our Stars,Shailene Woodley|Ansel Elgort|Nat Wolff|Laura ...,Josh Boone,One Sick Love Story,Despite the tumor-shrinking medical miracle th...,125,Romance|Drama,Fox 2000 Pictures|Temple Hill Entertainment|TS...,2014-05-16,7.8,2014,293151265,5
283,tt0485947,47000000,3547209,Mr. Nobody,Jared Leto|Diane Kruger|Linh Äan Pháº¡m|Sarah ...,Jaco Van Dormael,"Nothing is real, everything is possible.",Nemo Nobody leads an ordinary existence with h...,141,Science Fiction|Drama|Romance|Fantasy,Pan EuropÃ©enne Production|Virtual Films,2009-09-11,7.8,2009,-43452791,9
316,tt1187043,9000000,70000000,3 Idiots,Aamir Khan|Kareena Kapoor|Madhavan|Sharman Jos...,Rajkumar Hirani,Don't BE A STUPID BE AN I.D.I.O.T.,In the tradition of â€œFerris Buellerâ€™s Day ...,170,Drama|Comedy|Romance,Vidhu Vinod Chopra Productions,2009-12-23,7.8,2009,61000000,12
1688,tt0469494,25000000,76181545,There Will Be Blood,Daniel Day-Lewis|Paul Dano|Dillon Freasier|Cia...,Paul Thomas Anderson,There Will Be Greed. There Will Be Vengeance.,"When ruthless oil prospector, Daniel Plainview...",158,Drama,Miramax Films|Ghoulardi Film Company|Paramount...,2007-12-28,7.8,2007,51181545,12
496,tt0120737,93000000,871368364,The Lord of the Rings: The Fellowship of the Ring,Elijah Wood|Ian McKellen|Viggo Mortensen|Liv T...,Peter Jackson,One ring to rule them all,"Young hobbit Frodo Baggins, after inheriting a...",178,Adventure|Fantasy|Action,WingNut Films|New Line Cinema|The Saul Zaentz ...,2001-12-18,7.8,2001,778368364,12
1183,tt0993846,100000000,392000694,The Wolf of Wall Street,Leonardo DiCaprio|Jonah Hill|Margot Robbie|Kyl...,Martin Scorsese,EARN. SPEND. PARTY.,A New York stockbroker refuses to cooperate in...,180,Crime|Drama|Comedy,Paramount Pictures|Appian Way|EMJAG Production...,2013-12-25,7.9,2013,292000694,12
370,tt1375666,160000000,825500000,Inception,Leonardo DiCaprio|Joseph Gordon-Levitt|Ellen P...,Christopher Nolan,Your mind is the scene of the crime.,"Cobb, a skilled thief who commits corporate es...",148,Action|Thriller|Science Fiction|Mystery|Adventure,Legendary Pictures|Warner Bros.|Syncopy,2010-07-14,7.9,2010,665500000,7
1191,tt2024544,20000000,187000000,12 Years a Slave,Chiwetel Ejiofor|Michael Fassbender|Lupita Nyo...,Steve McQueen,The extraordinary true story of Solomon Northup,"In the pre-Civil War United States, Solomon No...",134,Drama|History,Plan B Entertainment|Regency Enterprises|River...,2013-10-18,7.9,2013,167000000,10
1081,tt0167260,94000000,1118888979,The Lord of the Rings: The Return of the King,Elijah Wood|Ian McKellen|Viggo Mortensen|Liv T...,Peter Jackson,The eye of the enemy is moving.,Aragorn is revealed as the heir to the ancient...,201,Adventure|Fantasy|Action,WingNut Films|New Line Cinema,2003-12-01,7.9,2003,1024888979,12
1800,tt0209144,9000000,39723096,Memento,Guy Pearce|Carrie-Anne Moss|Joe Pantoliano|Mar...,Christopher Nolan,Some memories are best forgotten.,Suffering short-term memory loss after a head ...,113,Mystery|Thriller,Summit Entertainment|Newmarket Capital Group|T...,2000-10-11,7.9,2000,30723096,10
138,tt2278388,30000000,174600318,The Grand Budapest Hotel,Ralph Fiennes|Tony Revolori|F. Murray Abraham|...,Wes Anderson,A perfect holiday without leaving home.,The Grand Budapest Hotel tells of a legendary ...,99,Comedy|Drama,Fox Searchlight Pictures|Scott Rudin Productio...,2014-02-26,7.9,2014,144600318,2
128,tt2267998,61000000,369330363,Gone Girl,Ben Affleck|Rosamund Pike|Carrie Coon|Neil Pat...,David Fincher,You don't know what you've got 'til it's...,With his wife's disappearance having become th...,145,Mystery|Thriller|Drama,Twentieth Century Fox Film Corporation|Regency...,2014-10-01,7.9,2014,308330363,10
119,tt2015381,170000000,773312399,Guardians of the Galaxy,Chris Pratt|Zoe Saldana|Dave Bautista|Vin Dies...,James Gunn,All heroes start somewhere.,"Light years from Earth, 26 years after being a...",121,Action|Science Fiction|Adventure,Marvel Studios|Moving Picture Company (MPC)|Bu...,2014-07-30,7.9,2014,603312399,7
872,tt0253474,35000000,120072577,The Pianist,Adrien Brody|Thomas Kretschmann|Frank Finlay|M...,Roman Polanski,Music was his passion. Survival was his master...,The Pianist is a film adapted from the biograp...,150,Drama|War,Bac Films|Canal+Polska|Heritage Films|Studio B...,2002-09-24,7.9,2002,85072577,9
125,tt2084970,14000000,233555708,The Imitation Game,Benedict Cumberbatch|Keira Knightley|Matthew G...,Morten Tyldum,The true enigma was the man who cracked the code.,Based on the real life story of legendary cryp...,113,History|Drama|Thriller|War,Black Bear Pictures|Bristol Automotive,2014-11-14,8.0,2014,219555708,11
118,tt0816692,165000000,621752480,Interstellar,Matthew McConaughey|Jessica Chastain|Anne Hath...,Christopher Nolan,Mankind was born on Earth. It was never meant ...,Interstellar chronicles the adventures of a gr...,169,Adventure|Drama|Science Fiction,Paramount Pictures|Legendary Pictures|Warner B...,2014-11-05,8.0,2014,456752480,11
34,tt3170832,6000000,35401758,Room,Brie Larson|Jacob Tremblay|Joan Allen|Sean Bri...,Lenny Abrahamson,Love knows no boundaries,Jack is a young boy of 5 years old who has liv...,117,Drama|Thriller,Element Pictures|No Trace Camping|A24|Duperele...,2015-10-16,8.0,2015,29401758,10
9,tt2096673,175000000,853708609,Inside Out,Amy Poehler|Phyllis Smith|Richard Kind|Bill Ha...,Pete Docter,Meet the little voices inside your head.,"Growing up can be a bumpy road, and it's no ex...",94,Comedy|Animation|Family,Walt Disney Pictures|Pixar Animation Studios|W...,2015-06-09,8.0,2015,678708609,6
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,2008-07-16,8.1,2008,816921825,7

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [327]:
answers['27'] = "'Daniel Radcliffe', 'Rupert Grint'"

In [451]:
pairs_actors = {}

for row in data.cast.unique(): # словарь в которм ключи пары актёров
    row = row.split('|')
    for i in combinations(row, 2): # все сочетания без повторений пар актёров
        pairs_actors.setdefault(i, 0)

data_cast = data['cast']

for row in data_cast.values:  
    row =  row.split('|')
    for i in combinations(row, 2): # считаем колличество каждой пары
        pairs_actors[i] += 1

get_max_item(pairs_actors)

('Daniel Radcliffe', 'Rupert Grint')

ВАРИАНТ 2

# Submission

In [459]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': 'Gods and Generals (tt0279111)',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': '110',
 '5': 'median runtime = 107',
 '6': 'Avatar (tt0499549)',
 '7': 'The Lone Ranger (tt1210819)',
 '8': 'profit > 0 = 1478',
 '9': 'The Dark Knight (tt0468569)',
 '10': 'The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '14': 'Robert Rodriguez',
 '17': 'Action',
 '18': 'K-19: The Widowmaker (tt0267626)',
 '19': '2015',
 '20': '2014',
 '21': 'сентябрь (9)',
 '22': '450',
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '27': "'Daniel Radcliffe', 'Rupert Grint'",
 '26': 'Inside Out, The Dark Knight, 12 Years a Slave'}

In [460]:
# и убедиться что ни чего не пропустил)
len(answers)

27